body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  font-family: 'Great Vibes', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  padding: 20px 0 10px;
  font-size: 1.7rem;
  font-family: 'Source Serif Pro', serif;
}

h3 {
  color: #11999E;
  font-size: 1.2rem;
  font-family: 'Source Serif Pro', serif;
}

a {
  color: #11999E;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 5px 0 5px;
}

p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
}

hr {
  width: 5%;
  border-style: dotted none none none;
  height: 5px;
  color: #dfdfdf;
  border-width: thick;
  margin: 30px auto;
}

/******************************************* CLASS ********************************************/
/*IMAGES*/

.top-cloud {
  position: absolute;
  right: 25%;
}
.bot-cloud {
  position: absolute;
  left: 25%;
}

.profile-pic {
  margin-top: 100px;
  border-radius: 50%;
  height: 150px;
}

.skill-1 {

  width: 120px;
  float: left;
  margin-right: 30px;
}

/********************CONTAINERS*************************/
.top-container {
  margin: 0;
  padding: 60px 0 0;
  background-color: #f3f9fb;
}

.middle-container{
  padding-bottom: 30px;
}
.bottom-container {
  background-color: #f3f9fb;
  padding: 50px 0 10px;
}

.skill-row {
  margin: 50px auto;
  width: 45%;
  text-align: left;
}

.subtitle {
  font-weight: normal;
}

.bot-margin {
  margin-bottom: 40px;
}

.author {
  color: #11999E;
  margin-top: 30px;
}

.footer-link {
  padding: 20px;
}

.center-align {
  text-align: center;
}

.profile {
  width: 50%;
  margin: auto;
}

.contact-me{
  padding-bottom: 10px;
}
/****************************** button ********************************/
.butn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  background-image: -webkit-gradient(linear, left top, left bottom, #66BFBF, #11999E);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 80px auto;
}

.butn:hover {
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
  background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
  background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
  background-image: -o-linear-gradient(top, #11999E, #66BFBF);
  background-image: linear-gradient(to bottom, #11999E, #66BFBF);
  background-image: -webkit-gradient(linear, left top, left bottom, #66BFBF, #11999E);
  text-decoration: none;
}
